/*header*/
/*section*/
#logo {
    background-color: #E5E5E5;
}
/*section*/
header{
    text-align:center;
    background-color: #C4C4C4;
    }
/*header*/
/*main*/
h1{
    height:60px;
    font-size:35px;
    font-weight: 500;
    font-family: 'Times New Roman';
    font-style: normal;
    color: #005677;
    text-transform: uppercase;
    }
/*datos personales*/
.secciones{
    font-size: 20px;
    height:30px;
    width:1041px;
    font-family:'Times New Roman';
    font-weight: 700;
    font-style: normal;
    background-color:#C4C4C4;
    color: #005677;
    text-transform: uppercase;
    }
.cursiva {
    font-style: italic;
    font-weight: bold;
}
.negrita {
    font-weight: bold;
}
/*datos personales*/
 
.pie {
    height:37px;
    background-color: #005677;
    color: white;
    font-size: 20px;
    font-family:'Times New Roman';
    font-weight: 700;
    font-style: normal; 
    text-transform: uppercase;
}

/*section*/
